# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#intellij own files and directories
.idea
.DS_Store
target
out
*.iml

.project
.settings

# !docker-images/flink/external_jar_lib/*.jar

dependency-reduced-pom.xml

*.db
docker-compose/influxdb/data/*
docker-compose/influxdb/wal/*
docker-compose/dataset-sender/*.csv
/aws/lambdas/*/node_modules/
/aws/lambdas/sensor/libs/
/aws/lambdas/influx24h/libs/
/aws/lambdas/readfromelasticache/libs/
package-lock.json
