<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">InfluxDB Charts</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="panel panel-primary" ng-repeat="problemData in ctrl.query2DataForChart">
                <div class="panel-heading">{{problemData.problem_description}}</div>
                <div class="panel-body">
                    <div class="card mb-3">
                        <section>
                            <div class="row">
                                <div class="col-md-12">
                                <div class="chart-container">
                                    <canvas width='700' height='200'
                                            class="chart chart-bar"
                                            chart-data="problemData.data"
                                            chart-labels="problemData.labels"
                                            chart-series="problemData.series"
                                            chart-click="onClick" chart-options="options"
                                            chart-dataset-override="datasetOverride"
                                    ></canvas>
                                </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>